/* =====================
		Framework
======================== */

body {
	font-family: $font;
	color: #333;
	text-align: center;
}

section, footer, header {
	width: 100%;
	border-bottom: 1px solid #eee;
	padding: 20px 10px;
}

.container {
	width: 50%;
	text-align: center;
}

.hidden {
	position: absolute;
	left: -9999px;
}

.clear {
	clear: both;
}

.clearfix { 
	zoom: 1; 
}

.clearfix:before, .clearfix:after { 
	content: ""; 
	display: table; 
}

.clearfix:after { 
	clear: both; 
}

p {
	font-size: 0.75em;
	line-height: 1.5;
}

a {
	color: #333;
	font-weight: bold;
	text-decoration: none;
}

h1 {
	font-weight: bold;
	font-size: 1.125em;
	text-align: center;
}

h2 {
	text-align: center;
	font-weight: bold;
	margin-bottom: 30px;
}

h3 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 10px;
	line-height: 1.3;
}

h4 {

}

.red {
	color: $targetRed;
}

.black {
	color: #333;
	font-weight: bold;
	font-style: italic;
}

.grey {
	color: #eee;
}

.left {
	float: left;
}

.right {
	float: right;
}

.button {
	font-size: 0.625em;
	font-weight: normal;
	color: $targetRed;
	padding: 6px 15px;
	border: 1px solid $targetRed;
	border-radius: 25px;
	display: inline-block;
	margin: 10px 0 0;

	&:hover {
		color: #cc0000;
		border-color: #cc0000;
	}
}

.price {
	font-weight: bold;
}

.numberRatings {
	font-weight: bold;
}






