/* ======================
	  Header Styles
========================= */

.mainHeader {
	display: none;
}

.headerPlaceholder {
	background: url('../images/mobile-header.jpg') no-repeat;
	width: 322px;
	height: 51px;
	margin: 0 auto;
	border-bottom: 1px solid #eee;
}